<template>
  <div style="height: 100%; width: 100%">
  </div>
</template>
<script>
import svgIcon from "../components/SvgIcon/index.vue";

export default {
  components: {svgIcon},
  data() {
    return {
    };
  },
  methods:{
  }
};
</script>
<style scoped>
.logo_small {
  width: 60px;
  height: 50px;
  padding: 5px;
}
</style>
